# Le dépôt public contient les sources du plugin et les fichiers distribuables.
*
!.gitignore
!README.md
!*.qplug
!/*.lua
!/.vscode/
!/.vscode/tasks.json
!/plugincompile/
!/plugincompile/build.ps1
!/plugincompile/PLUGCC.exe
!/plugincompile/PLUGCC.exe.config
